// Paths
$base: "../";
$base-img: "#{$base}img";
$base-fnt: "#{$base}fnt";
$base-js: "#{$base}js";

// Fonts
$font-family: Arial, Tahoma, sans-serif;
$font-size: 14px;

// Colors
$color-error: #e32f0a;
$color-success: #5bbb44;

// Dimensions
$width: 1000px;
$height: 768px;
